<div class="col-md-6 col-lg-4 col-xl-3">
	<a href="{{ product_url }}" class="product-link">
		<div id="product-1" class="single-product">
			<div class="part-1">
				{% if image_url and image_alt %}
					<img src="{{ image_url }}" alt="{{ image_alt }}">
				{% endif %}
				{# <ul>
					<li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
					<li><a href="#"><i class="fas fa-heart"></i></a></li>
					<li><a href="#"><i class="fas fa-plus"></i></a></li>
					<li><a href="#"><i class="fas fa-expand"></i></a></li>
				</ul> #}
			</div>
			<div class="part-2">
				{% if product_title %}
					<h3 class="product-title">{{ product_title }}</h3>
				{% endif %}
				{% if product_old_price %}
					<h4 class="product-old-price">{{ product_old_price }}</h4>
				{% endif %}
				{% if product_price %}
					<h4 class="product-price">{{ product_price }}</h4>
				{% endif %}
			</div>
		</div>
	</a>
</div>
