{{ attach_library('osh/carousel') }}

<section class="slider-area pt-100">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-40 col-lg-8">
				<div class="title text-center">
					{% if title %}
						<h2 class="mb-10">{{ title }}</h2>
					{% endif %}
					{% if content %}
						{{ content }}
					{% endif %}
				</div>
			</div>
		</div>
		{% if slides|length > 0 %}
			<div class="row">
				<div class="active-slider-carousel mb-60  px-3">
					{% for slide in slides %}
						<div class="card">
							<img src="{{ slide.url }}" alt="{{ slide.alt }}" class="card-img-top">
							<div class="card-body">
								{% if slide.title %}
									<h5 class="card-title">{{ slide.title }}</h5>
								{% endif %}
								{% if slide.content %}
									<p class="card-text">{{ slide.content|striptags }}</p>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</section>
